[submodule "ghr"]
	path = ghr
	url = https://github.com/tcnksm/ghr
[submodule "gore"]
	path = gore
	url = https://github.com/motemen/gore
[submodule "govendor"]
	path = govendor
	url = https://github.com/kardianos/govendor
[submodule "reflex"]
	path = reflex
	url = https://github.com/cespare/reflex
[submodule "gox"]
	path = gox
	url = https://github.com/mitchellh/gox
[submodule "gocode"]
	path = gocode
	url = https://github.com/nsf/gocode
